In [3]:
import sys

sys.path.append("..")

import pandas as pd
from data_cleaner.data_type_converter import DataTypeConverter

# Example DataFrame
df = pd.DataFrame({
    'A': ['1', '2', '3'],
    'B': ['2021-01-01', '2021-02-01', '2021-03-01']
})

print("Original DataFrame:")
print(df)

# Convert to numeric type
df = DataTypeConverter.to_numeric(df, 'A')
print("\nDataFrame after converting column A to numeric:")
print(df)

# Convert to date type
df = DataTypeConverter.to_datetime(df, 'B')
print("\nDataFrame after converting column B to datetime:")
print(df)

Original DataFrame:
   A           B
0  1  2021-01-01
1  2  2021-02-01
2  3  2021-03-01

DataFrame after converting column A to numeric:
   A           B
0  1  2021-01-01
1  2  2021-02-01
2  3  2021-03-01

DataFrame after converting column B to datetime:
   A          B
0  1 2021-01-01
1  2 2021-02-01
2  3 2021-03-01

In [4]:
df = pd.read_csv('C:\\Users\\zahid\\Programming For Data Engineering\\Data Cleaner For Movie Recommendation\\tests\\synthetic_sample_data.csv')

print("Original DataFrame:")
print(df.head())

# Sayısal tipe dönüştürme
df = DataTypeConverter.to_numeric(df, 'Rating')
print("\nDataFrame after converting column Rating to numeric:")
print(df.head())

# Tarih tipine dönüştürme
df = DataTypeConverter.to_datetime(df, 'Release Date')
print("\nDataFrame after converting column Release Date to datetime:")
print(df.head())

Original DataFrame:
   Unnamed: 0   Movie Id        Genre Release Date    Rating  \
0          44  TOYHANVUR       Horror   07/07/1985  9.750176
1          47  CORCILSLF  Documentary   05/08/1999  7.912876
2          64  UBWUVIHEL    Adventure   08/05/1996  3.116053
3          67  CGHMHKJHH      Fantasy   21/07/2018  8.811783
4          67  WMLWHTAMN      Fantasy   28/10/2011  5.250991

                                             Summary Shooting Location  \
0  A group of college students get more than they...          New York
1  A documentary that sheds light on the devastat...             Paris
2  A lost civilization is rediscovered deep withi...            Sydney
3  A young inventor builds a time machine and emb...             Paris
4  A young inventor builds a time machine and emb...            Sydney

   Budget in USD  Awards  Popular
0   1.035408e+07       2        1
1   5.722105e+06       1        1
2   5.601372e+07       0        0
3   4.422451e+06       1        1
4   1.163290e+08       0        0

DataFrame after converting column Rating to numeric:
   Unnamed: 0   Movie Id        Genre Release Date    Rating  \
0          44  TOYHANVUR       Horror   07/07/1985  9.750176
1          47  CORCILSLF  Documentary   05/08/1999  7.912876
2          64  UBWUVIHEL    Adventure   08/05/1996  3.116053
3          67  CGHMHKJHH      Fantasy   21/07/2018  8.811783
4          67  WMLWHTAMN      Fantasy   28/10/2011  5.250991

                                             Summary Shooting Location  \
0  A group of college students get more than they...          New York
1  A documentary that sheds light on the devastat...             Paris
2  A lost civilization is rediscovered deep withi...            Sydney
3  A young inventor builds a time machine and emb...             Paris
4  A young inventor builds a time machine and emb...            Sydney

   Budget in USD  Awards  Popular
0   1.035408e+07       2        1
1   5.722105e+06       1        1
2   5.601372e+07       0        0
3   4.422451e+06       1        1
4   1.163290e+08       0        0

DataFrame after converting column Release Date to datetime:
   Unnamed: 0   Movie Id        Genre Release Date    Rating  \
0          44  TOYHANVUR       Horror   1985-07-07  9.750176
1          47  CORCILSLF  Documentary   1999-05-08  7.912876
2          64  UBWUVIHEL    Adventure   1996-08-05  3.116053
3          67  CGHMHKJHH      Fantasy          NaT  8.811783
4          67  WMLWHTAMN      Fantasy          NaT  5.250991

                                             Summary Shooting Location  \
0  A group of college students get more than they...          New York
1  A documentary that sheds light on the devastat...             Paris
2  A lost civilization is rediscovered deep withi...            Sydney
3  A young inventor builds a time machine and emb...             Paris
4  A young inventor builds a time machine and emb...            Sydney

   Budget in USD  Awards  Popular
0   1.035408e+07       2        1
1   5.722105e+06       1        1
2   5.601372e+07       0        0
3   4.422451e+06       1        1
4   1.163290e+08       0        0